.header {
  &-container {
    width: 100%;
    height: 50px;
    background: #333333;
    text-align: center;
    line-height: 50px;
    span {
      font-size: 16px;
      color: #ffffff;
      letter-spacing: 2px;
    }
  }
}
.card {
  &-container {
    padding: 50px 0 100px;
  }
  &-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1075px;
    min-width: 215px;
  }
  &-item {
    flex-direction: column;
    margin-bottom: 30px;
    width: 215px;
    height: 250px;
    &-content {
      position: relative;
      width: 200px;
      height: 250px;
      border-radius: 4px;
      background: #80ecff url(../../assets/images/background.jpg) no-repeat;
      background-position: 0 0;
      background-size: 100% 100%;
      box-shadow: 0 0 10px 0 rgb(176, 191, 196);
      transform-origin: 50% 50%;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        transform: scaleX(1.1) scaleY(1.1);
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &__text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &--box {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        overflow: hidden;
      }
      &--title {
        font-size: 15px;
        color: #ffffff;
      }
      &--desc {
        margin-top: 6px;
        font-size: 12px;
        color: #d8dad9;
      }
    }
    &__coding {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 16px;
      color: #57a896;
    }
  }
}