.flex {
  display: flex;
  &-center {
    &:extend(.flex);
    align-items: center;
  }
  &-center-center {
    &:extend(.flex);
    align-items: center;
    justify-content: center;
  }
}

// 单行文本省略
.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// 全局背景色
.back_color {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: @back_color;
  z-index: -1;
}
